---
import Layout from '../layouts/Layout.astro';

import Countdown from '@/sections/Countdown.astro';
import Footer from '@/sections/Footer.astro';
import Paye from '@/sections/Paye.astro';
import Info from '@/sections/Info.astro';
import Principalbienvenida from '@/sections/Principalbienvenida.astro';
---

<Layout title="¡Bienvenidos a la Birria El Paye!">
	<Paye/>
	<main>
		<Principalbienvenida/>
		<Info/>
		<Countdown/>
	</main>
	<Footer/>
</Layout>



