---
import Logo from "/public//logo/logo-social.png"
import PayeLogo from '@/components/PayeLogo.astro'

---

<header class="text-lg md:text-4xl font-semibold z-50 top-0 md:px-8 sm:px-0 lg:px-0">
  <div class="grid grid-cols-3 max-2-7xl mx-auto items-center justify-between flex ">
    <a  
    style="width: 16vw; height: 16vh;"  
     href="/" class="col-span-1"> 
      
      <PayeLogo
        class="h-auto m-auto justify-self-center"
        alt="Salon Isadora es un espacio para eventos sociales y empresariales en el Desierto de los Leones."
      />
    </a>
    <nav
      class="col-span-2 justify-self-center flex"
    >
    <ul class="flex gap-4">
      <li>
        <a class="hover:underline text-secondary" href="/"> Inicio</a>
      </li>
        <li>
            <a class="hover:underline text-secondary" href="/servicios"> Menu </a>
        </li>
        <li>
          <a class="hover:underline text-secondary" href="/promociones"> Nosotros </a>
        </li>
        <a
        href="/contacto"
        class="text-secondary hover:underline justify-self-center "
      >
          Contacto
      </a>
    </ul>
    </nav>
   

  </div>
</header>