---

---


<section class="flex font-medium text-secondary gap-y-10 my-32 flex-col">

    <div class="grid grid-cols-1 md:grid-cols-3 uppercase text-center gap-x-4">
        <article
            class="flex-wrap justify-center items-center text-xl py-10 px-16 border-y-2 border-secondary"
        >
            <h2 class="mb-5">Birria</h2>
            <p>
                Delciosa maciza de res, acompañada de consomé, tortillas hechas a mano,
                salsas y guarniciones.
            </p>
            <img 
                class=" mt-5 h-auto m-auto justify-self-center"
                alt="Salon Isadora es un espacio para eventos sociales y empresariales en el Desierto de los Leones."
                src="/fotos/birria.jpeg"
            /> 
        </article>
        <article
            class="flex-wrap justify-center items-center text-xl py-10 px-16 border-y-2 border-secondary"
        >
            <h2 class="mb-5">Bebidas</h2>
            <p>
               Referescantes Micheladas del Paye, Aguas de Sabores Naturales, Jugo de Naranja y Regrescos .
               

                 
            </p>
            <img 
                class=" mt-5 h-auto m-auto justify-self-center"
                alt="Salon Isadora es un espacio para eventos sociales y empresariales en el Desierto de los Leones."
                src="/fotos/agualimon.jpeg"
            /> 
        </article>
        <article
            class="flex-wrap justify-center items-center text-xl py-10 px-16 border-y-2 border-secondary"
        >
            <h2 class="mb-5">Taquizas</h2>
            <p>
                Calidad y sabor al contratar los servicios a domicilio de El Paye, lo mejor para tu familia.
            </p>
            <img 
                class=" mt-5 h-auto m-auto justify-self-center"
                alt="Salon Isadora es un espacio para eventos sociales y empresariales en el Desierto de los Leones."
                src="/fotos/tacobirria.jpeg"
            /> 
        </article>
    </div>

    

</section>




