---
import PayeBienvenida from '@/components/PayeBienvenida.astro'


---

<section class="flex flex-col justify-center items-center" style="margin-top: 10rem;">
   
    <PayeBienvenida/>
    
</section>