---
import PayeBienvenida from '@/components/PayeBienvenida.astro'
import PayeLogo from '@/components/PayeLogo.astro'

import Querzalcoatl1 from '@/components/Quetzalcoatl1.astro'

---

<section class="flex flex-col justify-center items-center" style="margin-top: 10rem;">
   
    <PayeBienvenida/>
    
</section>